.main-container {
  display: flex;
  font-family: 'Ubuntu Mono', monospace;
  height: 100vh;
  background-color: white;
}

.content-container {
 color: black;
 padding: 0 2rem;
}

h2 {
  font-size:2rem
}